.navbar-brand{
    background-color:rgb(153, 141, 235);
    border-color: rgb(43, 39, 90);
    border-width: 8px;
}
.navbarimg{
    height:50px;
}
body{ 
    background-image:linear-gradient(rgb(236, 176, 231), rgb(124, 106, 236));
}
ul{
    background-color: rgb(124, 106, 236);
}
.container{
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button.btn-outline-success{
    background-color:slateblue;
    border-color: slategray;
    color: lightsteelblue;
    font-weight:bold;
}
button.btn-outline-success:hover{
    background-color: lightsalmon
    border: dashed;
}
a.btn-primary{
    background-color:slateblue; 
    color: lightsteelblue;
    font-weight:bold;
}
a.btn-primary:hover{
    background-color: lightsalmon;
    border: dashed;
}
   
.jumbotron{
    background-image: linear-gradient(rgb(147, 161, 243), rgb(185, 222, 236)); 
}
a.card-link{
    color: purple;
}
.card{
    background-image: linear-gradient(rgb(231, 130, 206), rgba(238, 211, 231, 0.938));
}

.bg-dark{
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}