<figure>
  <a href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-a-beautiful-border-collie-dog-royalty-free-image-1575299232.jpg?crop=0.670xw:1.00xh;0.162xw,0&resize=480:*">
  <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-a-beautiful-border-collie-dog-royalty-free-image-1575299232.jpg?crop=0.670xw:1.00xh;0.162xw,0&resize=480:*" width="100" height="100" >
    </a>
  <a href="https://pbs.twimg.com/profile_images/1046968391389589507/_0r5bQLl_400x400.jpg">
 <img src="https://pbs.twimg.com/profile_images/1046968391389589507/_0r5bQLl_400x400.jpg" width="100" height="100">
    </a>
   <a href="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=767">
<img src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=767" width="100" height="100">
     </a>
 <br/>
  <a href="https://www.dogshopnw.com/wp-content/uploads/2017/06/dog1-200x200.jpg">
 <img src="https://www.dogshopnw.com/wp-content/uploads/2017/06/dog1-200x200.jpg" width="100" height="100">
    </a>
  <a href="https://cdn.theatlantic.com/assets/media/img/photo/2016/01/the-huskies-of-aviemore/h01_505658974-1/square.jpg?mod=1522797580">
 <img src="https://cdn.theatlantic.com/assets/media/img/photo/2016/01/the-huskies-of-aviemore/h01_505658974-1/square.jpg?mod=1522797580" width="100" height=100">
 </a>
  <a href="https://images.unsplash.com/photo-1554263022-02df49e88f7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
 <img src="https://images.unsplash.com/photo-1554263022-02df49e88f7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80 width="100" height="100">
    </a>
 <br />
  <a href="https://shawglobalnews.files.wordpress.com/2019/02/1-3.jpg?quality=70&strip=all&strip=all">
 <img src="https://shawglobalnews.files.wordpress.com/2019/02/1-3.jpg?quality=70&strip=all&strip=all" width="100" height="100">
    </a>
  <a href="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-laying-on-grass-high-res-stock-photography-1574096636.jpg?crop=0.722xw:1.00xh;0.140xw,0&resize=640:*">
 <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-laying-on-grass-high-res-stock-photography-1574096636.jpg?crop=0.722xw:1.00xh;0.140xw,0&resize=640:*" width="100" height="100">
    </a>
  <a href="https://geniusvets.s3.amazonaws.com/gv-dog-breeds/siberian-husky-1.jpg">
 <img src="https://geniusvets.s3.amazonaws.com/gv-dog-breeds/siberian-husky-1.jpg" width="100" height="100">
    </a>
 </figure>
  