<img src="https://canvas.uw.edu/files/61210747/download?download_frd=1" alt="smiley" title="smiley square 32px" height="32px">
<img src="https://canvas.uw.edu/files/61210747/download?download_frd=1" alt="smiley" title="smiley square 64px" height="64px">
<img src="https://canvas.uw.edu/files/61210747/download?download_frd=1" alt="smiley" title="smiley square 128px" height="128px">
<img src="https://canvas.uw.edu/files/61210747/download?download_frd=1" alt="smiley" title="smiley square 256px" height="256px">
<img src="https://canvas.uw.edu/files/61210747/download?download_frd=1" alt="smiley" title="smiley square 512px" height="512px">
 <br/>
<img src="https://canvas.uw.edu/files/61210745/download?download_frd=1" alt="apple" title="apple logo 32px" height="32px">
<img src="https://canvas.uw.edu/files/61210745/download?download_frd=1" alt="apple" title="apple logo 64px" height="64px">
<img src="https://canvas.uw.edu/files/61210745/download?download_frd=1" alt="apple" title="apple logo 128px" height="128px">
<img src="https://canvas.uw.edu/files/61210745/download?download_frd=1" alt="apple" title="apple logo 256px" height="256px">
<img src="https://canvas.uw.edu/files/61210745/download?download_frd=1" alt="apple" title="apple logo 512px" height="512px">