<div class="box">
    <h1 align="center"> Sharetea</h1>
   <body style=" color:cadetblue;background-color: black"; align="center">  
    </body>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.8186301445453!2d-122.35653308484466!3d47.66851969169244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014494aaed4c9%3A0x7c622dc1f941a8b2!2sWoodland%20Park%20Zoo!5e0!3m2!1sen!2sus!4v1579749625858!5m2!1sen!2sus" width="500" height="300" style="border:2; border-style:dotted; border-color:slateblue"> 
    </iframe>
    </body>
    </div>
    
    