
<body align="middle" style="background-color:lightsalmon">
    <h1 style="font-size:95px;color:slateblue; border-style:dashed; margin-left:30%; margin-right:30%;border-width:6px; border-color:white">Music</h1>
    </br>
    </br>
    </br>
    </br>
  <h1 style="color:white">Florrie - Call of the Wild Multisource</h1>

<img style="width:200px;height:200px;" src="https://vignette.wikia.nocookie.net/florrie/images/9/9c/Florrie-introduction.jpg/revision/latest?cb=20180924114820">
</br>
</br>
<audio controls>   
<source src="https://canvas.uw.edu/files/61502903/download?download_frd=1" type="audio/ogg">    
</audio>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1 style="color:white">Queen - Bohemian Rhapsody</h1>
 <img style="width:200px;height=200px";     src="https://miro.medium.com/max/4027/1*tQs4H7Ua65sd7iUxeLcDkw.png">
</br>
</br>
<audio controls>
  <source src="song.mp3" type="audio/mp3">

</audio>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1 style="color:white">Stereo Hearts</h1>
 <img style="width:200px;height=200px";     src="https://upload.wikimedia.org/wikipedia/en/thumb/1/17/Gym_Class_Heroes_-_Stereo_Hearts.jpg/220px-Gym_Class_Heroes_-_Stereo_Hearts.jpg">
</br>
</br>
<audio controls>
    <source src="song2.mp3" type="audio/mp3">
  
  </audio>

</body>
