</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<body style="background:black"; align="middle">
<h2 style="color:LightSalmon; font-size:35px; border-style:dotted; border-color:slateblue;border-width:6px ;margin-left:35%; margin-right:35%">Knives Out</h2>
<video src="http://movietrailers.apple.com/movies/lionsgate/knives-out/knives-out-trailer-2_h720p.mov" 
poster="http://static.hd-trailers.net/images/-148189-poster-xlarge-resized.jpg"
       width="640" height ="440"
       controls >
 </video>
 </br>
</br>
</br>
</br>
</br>
</br>
</br>
</br> 
</br>
</br>
</br>
 <h2 style="color:Lightsalmon; font-size:35px; border-style:dotted; border-color:slateblue; border-width:6px; margin-left:35%;margin-right:35%">Jumanji: The Next Level</h2>
</br>
<video      src="https://movietrailers.apple.com/movies/sony/jumanji-the-next-level/jumanji-the-next-level-trailer-1_h720p.mov"
 poster="http://static.hd-trailers.net/images/-121201-poster-xlarge-resized.jpg"
       width="640"; height="440"
       controls
       >

  
  </body>
