$flag-height:400px;
$aspect-ratio:16/9;
$flag-width:$flag-height*$aspect-ratio;
$inner-flag-width:$flag-width/5*2;
$stripes-height:$flag-height/17+4;
$border-thickness:3px;
$border-color:red;
body{
  background-color:black;
}
#flag_frame{
  height: $flag-height;
  width: $flag-height*$aspect-ratio;
  margin: auto;
}
#starcell{
  background-color:blue;
  color:white;
}
#stars{
  width:$inner-flag-width;
}

.red_stripe{
  background-color:red;
}

.white_stripe{
  background-color:white;
}
.stripes{ 
  height:$stripes-height;
  width: 100%; 
}