body {
    background-color: black;
}
#flag_frame {
    height: 400px;
    width: 711.1111111111px;
    margin: auto;
}
#starcell {
    background-color: blue;
    color: white;
}
#stars {
    width: 284.4444444444px;
    color: white;
}
.red_stripe {
    background-color: red;
}
.white_stripe {
    background-color: white;
}
.stripes {
    height: 27.5294117647px;
    width: 100%;
}
