
.swatch1{background-color:rgb(0, 0, 255);}
.swatch2{background-color:rgba(0, 0, 255,0.9);}
.swatch3{background-color:rgba(0, 0, 255,0.8);}
.swatch4{background-color:rgba(0, 0, 255,0.7);}
.swatch5{background-color:rgba(0, 0, 255,0.6);}
.swatch6{background-color:rgba(0, 0, 255,0.5);}
.swatch7{background-color:rgba(0, 0, 255,0.4);}
.swatch8{background-color:rgba(0, 0, 255,0.3);}
.swatch9{background-color:rgba(0, 0, 255,0.2);}
.swatch10{background-color:rgba(0, 0, 255,0.1);}
.swatch11{background-color:hsl(240, 100%, 50%);}
.swatch12{background-color:hsla(240, 100%, 50%,0.9);}
.swatch13{background-color:hsla(240, 100%, 50%,0.8);}
.swatch14{background-color:hsla(240, 100%, 50%,0.7);}
.swatch15{background-color:hsla(240, 100%, 50%,0.6);}
.swatch16{background-color:hsla(240, 100%, 50%,0.5);}
.swatch17{background-color:hsla(240, 100%, 50%,0.4);}
.swatch18{background-color:hsla(240, 100%, 50%,0.3);}
.swatch19{background-color:hsla(240, 100%, 50%,0.2);}
.swatch20{background-color:hsla(240, 100%, 50%,0.1);}